/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #222;
}

.container {
  margin: 2rem auto;
  max-width: 30rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .container { margin: 8rem auto; }
}

/* ATM Machine
-------------------------------------------------------------- */
h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

/* ATM Machine
-------------------------------------------------------------- */
.atm_machine {
  background: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2em;
}

.atm_machine div {
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}


label {
  color: #fff;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-transform: uppercase;
}

input {
  background: #333;
  border: 1px solid #555;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #0cab64;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

input:focus {
  border: 1px solid #0cab64;
  outline: none;
}

@media (min-width: 40rem) {
  label { 
    display: inline-block;
    float: left; 
  }

  input { 
    float: right; 
    width: auto;
  }
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #0cab64;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2.5rem;
  outline: none;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}

button:hover { background: #0b9b5b; }